body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image:url("https://akm-img-a-in.tosshub.com/indiatoday/images/story/202312/gen-z-in-india-loves-fashion-with-creative-and-diy-approach--instagram-trend-talk-reveals-061730701-3x4.jpg?VersionId=Kf.IitykR_UqV8Yjg_H43BEwNq4qyJ0n");
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #5479709c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #e0dbdb;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #c7d0ccd0;
}

.form-group textarea {
    height: 150px;
    resize: vertical;
}

.form-group input[type="file"] {
    padding: 3px;
}

.submit-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #218838;
}
