#page {
    width: 100vw; height:  100vh;
    display:  flex; flex-direction: column;
}
#item-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
nav {
    background-color: beige;
    height: 30px; width: 100%;
}